body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

.surveymanager-finderform fieldset,
.surveymanager-finderform fieldset legend {
    background-color: #fff;
    border: none;
}

#surveymanagerItemContainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#surveymanagerItemContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#surveymanagerItemContainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#surveymanagerItemContainer a:hover,
#surveymanagerItemContainer a:focus,
#surveymanagerItemContainer a:active {
    color: #900;
    text-decoration: none;
}

#surveymanagerItemContainer a img {
    border: none;
}

#surveymanagerItemContainer a img {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 0.5em;
}
#surveymanagerItemContainer a:hover img,
#surveymanagerItemContainer a:focus img,
#surveymanagerItemContainer a:active img {
    background-color: #fff;
}
